<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div th:insert="~{fragment :: header}"></div>
            <div th:insert="~{fragment :: menu}"></div>
            <form th:action="@{/crew/{crewId}/update(crewId=${crew.id})}" method="post" th:object="${crew}">
                <label for="email"><span th:text="|#{crew.email}:|"></span>
                    <input id="email" type="text" name="email" th:value="*{email}">
                </label><br>
                <label for="firstname"><span th:text="|#{crew.firstname}:|"></span>
                    <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
                </label><br>
                <label for="lastname"><span th:text="|#{crew.lastname}:|"></span>
                    <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
                </label><br>
                <label for="birthDate"><span th:text="|#{crew.birthdate}:|"></span>
                    <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
                </label><br>
                <label for="employmentDate"><span th:text="|#{crew.employmentDate}:|"></span>
                    <input id="employmentDate" type="date" name="employmentDate" th:value="*{employmentDate}">
                </label><br>
                <label for="mkkDate"><span th:text="|#{crew.mkkDate}:|"></span>
                    <input id="mkkDate" type="date" name="mkkDate" th:value="*{mkkDate}">
                </label><br>
                <button type="submit" th:text="#{action.update}"></button>
            </form>
            <form th:action="@{/crew/{crewId}/delete(crewId=${crew.id})}" method="post">
                <button type="submit" th:text="#{action.remove}"></button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>