<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <div th:insert="~{fragment :: header}"></div>
                    <div th:insert="~{fragment :: menu}"></div>
                    <span th:text="|#{main.welcome}!|"></span>
                    <div th:if="${#authorization.expression('hasAuthority(''USER'')')}" th:object="${crew}">
                        <span th:text="|#{crew.firstname}: *{firstname}|"></span><br>
                        <span th:text="|#{crew.lastname}: *{lastname}|"></span><br>
                        <span th:text="|#{crew.email}: *{email}|"></span><br>
                        <span th:text="|#{crew.birthdate}: *{birthDate}|"></span><br>
                        <span th:text="|#{crew.employmentDate}: *{employmentDate}|"></span><br>
                        <span th:if="*{mkkDate != null}" th:text="|#{crew.mkkDate}: *{mkkDate}|"></span><br>
<!--                        <label for="permits"><span th:text="|#{crew.crewAircraftList}:|"></span>-->
<!--                            <div id="permits" th:each="crewAircraft : ${crewAircraftList}">-->
<!--                                <span th:text="|${crewAircraft.aircraft.model} (${crewAircraft.permitDate})|"></span>-->
<!--                            </div>-->
<!--                        -->
                        <label for="permits"><span th:text="|#{crew.crewAircraftList}:|"></span></label><br>
                        <table id="permits">
                            <tr>
                                <th><span th:text="|#{admin.aircraft}:|"></span></th>
                                <th><span th:text="|#{crewAircraft.permitDate}:|"></span></th>
                            </tr>
                            <tr th:each="crewAircraft : ${crewAircraftList}">
                                <td th:text="${crewAircraft.aircraft.model}">Aircraft</td>
                                <td th:text="${crewAircraft.permitDate}">Permit date</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>