<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <div th:insert="~{fragment :: header}"></div>
                    <div th:insert="~{fragment :: menu}"></div>
                    <p>Hello!</p>
                    <div th:if="${#authorization.expression('hasAuthority(''USER'')')}" th:object="${crew}">
                        <span th:text="|Firstname: *{firstname}|">Firstname</span><br>
                        <span th:text="|Lastname: *{lastname}|">Lastname</span><br>
                        <span th:text="|Email: *{email}|">Email</span><br>
                        <span th:text="|Birthdate: *{birthDate}|">Birthdate</span><br>
                        <span th:text="|Employment date: *{employmentDate}|">Employment date</span><br>
                        <span th:if="*{mkkDate != null}" th:text="|MKK date: *{mkkDate}|">MKK date</span><br>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>