<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <form th:action="@{/crew}" method="post" th:object="${crew}">
                <label for="email">Email:
                    <input id="email" type="text" name="email" th:value="*{email}">
                </label><br>
                <label for="rawPassword">Password:
                    <input id="rawPassword" type="password" name="rawPassword">
                </label><br>
                <label for="firstname">Firstname:
                    <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
                </label><br>
                <label for="lastname">Lastname:
                    <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
                </label><br>
                <label for="birthDate">Birth date:
                    <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
                </label><br>
                <label for="employmentDate">Employment date:
                    <input id="employmentDate" type="date" name="employmentDate" th:value="*{employmentDate}">
                </label><br>
                <label for="mkkDate">MKK date:
                    <input id="mkkDate" type="date" name="mkkDate" th:value="*{mkkDate}">
                </label><br>
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>