<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragments</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div th:fragment="header">
                <span th:text="|#{fragment.user}: ${#authentication.principal.username}|"></span>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" th:text="#{fragment.logout}"></button>
                </form>
                <div th:insert="~{fragment :: locale}"></div>
            </div>
            <div th:fragment="menu">
                <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                    <form action="/countries">
                        <button type="submit" th:text="#{admin.countries}"></button>
                    </form>
                    <form action="/cities">
                        <button type="submit" th:text="#{admin.cities}"></button>
                    </form>
                    <form action="/airports">
                        <button type="submit" th:text="#{admin.airports}"></button>
                    </form>
                    <form action="/crew">
                        <button type="submit" th:text="#{admin.crew}"></button>
                    </form>
                    <form action="/aircraft">
                        <button type="submit" th:text="#{admin.aircraft}"></button>
                    </form>
                    <form action="/flights">
                        <button type="submit" th:text="#{admin.flights}"></button>
                    </form>
                </div>
                <div th:if="${#authorization.expression('hasAuthority(''USER'')')}">
                    <form action="/main">
                        <button type="submit" th:text="#{user.mainPage}"></button>
                    </form>
                    <form action="/monthly">
                        <button type="submit" th:text="#{user.monthlyFlights}"></button>
                    </form>
                    <form action="/statistics">
                        <button type="submit" th:text="#{user.statistics}"></button>
                    </form>
                </div>
            </div>
            <div th:fragment="locale">
                <form action="">
                    <label for="lang" th:text="#{fragment.lang}"></label>
                    <select name="lang" id="lang"  onchange="this.form.submit()">
                        <option></option>
                        <option value="en">EN</option>
                        <option value="ru">RU</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>