<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Country</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <div th:insert="~{fragment :: header}"></div>
                    <div th:insert="~{fragment :: menu}"></div>
                    <form th:action="@{/countries/{countryId}/update(countryId=${country.id})}" method="post" th:object="${country}">
                        <label for="name"><span th:text="|#{country.country}:|"></span>
                            <input id="name" type="text" name="name" th:value="*{name}">
                        </label><br>
                        <div th:if="${cities.size > 0}">
                            <label for="cities"><span th:text="|#{admin.cities}:|"></span>
                                <div id="cities" th:each="city : ${cities}">
                                    <a th:href="@{'/cities/' + ${city.id}}" th:text="|${city.id}. ${city.name}|">City</a>
                                </div>
                            </label><br>
                        </div>
                        <button type="submit" th:text="#{action.update}"></button>
                    </form>
                    <br>
                    <form th:action="@{/countries/{countryId}/delete(countryId=${country.id})}" method="post">
                        <button type="submit" th:text="#{action.remove}"></button>
                    </form>
                    <br>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>