<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Airport</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <div th:insert="~{fragment :: header}"></div>
                    <div th:insert="~{fragment :: menu}"></div>
                    <form th:action="@{/airports}" method="post" th:object="${airport}">
                        <label for="code"><span th:text="|#{airport.code}:|"></span>
                            <input id="code" type="text" name="code" th:value="*{code}">
                        </label><br>
                        <div>
                            <label for="city"><span th:text="|#{city.city}:|"></span>
                                <select name="cityId" id="city">
                                    <option th:each="city : ${cities}"
                                            th:value="${city.id}"
                                            th:text="${city.name}">City</option>
                                </select>
                            </label>
                        </div>
                        <button type="submit" th:text="#{action.create}"></button>
                    </form>
                    <br>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>