<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>City</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <div th:insert="~{fragment :: header}"></div>
                    <div th:insert="~{fragment :: menu}"></div>
                    <form th:action="@{/cities/{cityId}/update(cityId=${city.id})}" method="post" th:object="${city}">
                        <label for="name">Name:
                            <input id="name" type="text" name="name" th:value="*{name}">
                        </label><br>
                        <div>
                            <label for="country">Country:
                                <select name="countryId" id="country">
                                    <option th:each="country : ${countries}"
                                            th:value="${country.id}"
                                            th:selected="${country.id == city.country.id}"
                                            th:text="${country.name}">Country</option>
                                </select>
                            </label>
                        </div>
                        <button type="submit">Update</button>
                    </form>
                    <br>
                    <form th:action="@{/cities/{cityId}/delete(cityId=${city.id})}" method="post">
                        <button type="submit">Remove</button>
                    </form>
                    <br>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>